/* Hide the "Add another Status Log Entry" link */
#statuslog_set-group div.inline-related tr.add-row {
    display: none;
}

/* More compact layout of status log entries */
tr.dynamic-statuslog_set td {
    padding: 6px 0px 0px 0px !important;
}

/* Hide the "Statuslog object" lines in the Ticket admin's StatusLog inline view. */
tr.dynamic-statuslog_set td.original p {
    display: none;
}

/* Hide the description line for customer contact log entries */
tr.dynamic-contactlog_set td.original p {
    display: none;
}
