p {
    margin: 1em 0;
}
a, a:visited {
    text-decoration: underline;
    color: #144071;
}
a:hover {
    text-decoration: underline;
    color: #0067a1;
}

body {
    background: url('../images/background.png');
    font-family: 'Amethysta', 'Cambria', 'Georgia', serif;
    font-size: 11pt;
    line-height: 1.6;
    padding-bottom: 1px;
}
div#page {
    width: 800px;
    margin: 0 auto;
}
div#content {
    margin-bottom: 40px;
}
div#header {
    padding: 20px 0 24px 16px;
    margin-bottom: 20px;
    background: url('../images/separator.png');
    background-repeat: repeat-x;
    background-position: bottom;
}
ul#navlist {
    display: block;
    float: right;
    position: relative;
    top: 22px;
}
ul#navlist li {
    display: block;
    float: left;
}
ul#navlist a {
    font-family: 'Signika Negative', 'Verdana', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #444;
    margin: 0 5px;
    padding: 10px 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
ul#navlist a.current {
    color: #0067a1;
}
ul#navlist:hover a.current {
    color: #444;
}
ul#navlist a:hover, ul#navlist:hover a:hover {
    color: #0067a1;
    background: rgba(0, 0, 0, 0.15);
}
#tagline {
    padding: 1em 0;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-bottom: 40px;
}
h1, h2 {
    font-family: 'Signika Negative', 'Verdana', sans-serif;
    font-weight: bold;
    font-size: 32px;
    font-variant: small-caps;
    color: #d47800;
    text-shadow: #a25900 -1px -1px 0px;
}
h2 {
    font-size: 24px;
}
div.info-group {
    clear: both;
    width: 100%;
    margin: 1em 0 2em 60px;
}
div.info-group h2 {
    float: left;
}
div.info-group div.info {
    width: 550px;
    margin: 0 0 0 auto;
}
div#store-map {
    display: none;
}
div#store-map iframe {
    border: 3px solid #d3ccc1;
}

ul.errorlist {
    list-style-type: circle;
    margin-left: 20px;
    font-style: italic;
}

div#ticket-detail {
    width: 700px;
    margin: 30px auto;
    border: 1px solid #888;
    background-color: #fff;
}
div#ticket-number {
    padding-top: 16px;
    padding-bottom: 10px;
}
div#ticket-number h3 {
    font-size: 14pt;
    font-weight: bold;
}
div#ticket-number h2 {
    text-shadow: none;
    font-variant: normal;
    color: #000;
    font-size: 44px;
}
.ticket-field h2 {
    font-family: Helvetica;
    font-style: italic;
    font-size: 10pt;
    font-weight: bold;
    color: #777;
    margin: 0.5em 0 0 0.5em;
    text-shadow: none;
    font-variant: normal;
}
div#ticket-detail p {
    margin-left: 2em;
    margin-right: 1em;
    margin-top: 0.5em;
}

div#ticket-number {
    border-bottom: 1px solid #888;
    text-align: center;
}

div#ticket-make {
    width: 300px;
    float: left;
    border-bottom: 1px solid #888;
}

div#ticket-model {
    width: 399px;
    float: right;
    border-left: 1px solid #888;
    border-bottom: 1px solid #888;
}

div#ticket-status {
    width: 300px;
    float: left;
}

div#ticket-status-detail {
    width: 399px;
    float: right;
    border-left: 1px solid #888;
}

div.ticket-row {
    clear: both;
    border-top: 1px solid #888;
}

div#ticket-estimate {
    display: inline-block;
    width: 300px;
    margin: 0;
}

div#ticket-approved {
    display: inline-block;
    width: 390px;
    margin: 0;
    border-left: 1px solid #888;
}

div#ticket-estimate-date {
    display: inline-block;
    width: 220px;
    margin: 0;
}

div#ticket-approval-date {
    display: inline-block;
    width: 220px;
    margin: 0;
    border-left: 1px solid #888;
}

div#ticket-completion-date {
    display: inline-block;
    width: 220px;
    margin: 0;
    border-left: 1px solid #888;
}

div#ticket-notes {
    clear: both;
    border-top: 1px solid #888;
    min-height: 160px;
}

div#ticket-history {
    border-top: 1px solid #888;
    min-height: 100px;
}
div#ticket-history ul {
    list-style-type: circle;
    margin-left: 40px;
}
div#ticket-history li {
    margin-top: 1em;
    margin-bottom: 1em;
}

img.photo {
    float: right;
    margin-left: 2em;
}