{% extends "tickets/base.html" %}

{% block content %}

<h1>About Frank&rsquo;s Electronics</h1>

<img class="photo" src="/static/images/van.jpg" alt="Frank's Electronics Van">

<p>Frank’s Electronics was actually opened as Frank’s Television on October
25, 1985, running out of a small Handi-house on the south side of town. Within
one year, the business grew to such an extent that I had to move to a bigger
location, and in February of 1987, I found a new location on North Main
Street.</p>

<p>With all of the extra room, I decided to branch out into car audio
installation but found the demand for TV repair so high that by 1990, I was
back to only servicing televisions and other electronics again and changed the
business name to Frank’s Electronics. Over the next few years, big-screen TVs
were all the rage so in 2006, I had to almost double my shop’s space to
accommodate the new trend. I now service all brands of TVs, including LCD,
LED, DLP, CRT, Plasma, and Rear-projection models.</p>

{% endblock %}
