{% load nav_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xml:lang="en-US">
    <head>
        <meta http-equiv="Content-Type" content="text/html" />
        <title>{% block title %}Frank's Electronics{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/reset.css" type="text/css" />
        <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
        <link href='http://fonts.googleapis.com/css?family=Fondamento' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Amethysta' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Signika+Negative' rel='stylesheet' type='text/css' />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        {% block extrahead %}
        {% endblock %}
    </head>

    <body>
        <div id="page">
            <div id="header">
                <a href="{% url tickets.views.index %}"><img src="/static/images/logo.png" alt="Frank's Electronics" /></a>
                <ul id="navlist">{% nav_list request %}</ul>
            </div>
        
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
