{% extends "tickets/base.html" %}

{% block extrahead %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#store-map-link').click(function () {
            $('#store-map-link').off('click');
            $('#store-map-link').html('View larger map on Google Maps');
            $('#store-map').toggle('show');
            $('#store-map').html('<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=306+North+Main+Street+Swainsboro,+Georgia+30401&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=40.460237,59.150391&amp;ie=UTF8&amp;hq=&amp;hnear=306+N+Main+St,+Swainsboro,+Georgia+30401&amp;t=m&amp;z=14&amp;ll=32.599734,-82.335984&amp;output=embed"></iframe>')
            return false;
        });
    });
</script>
{% endblock %}

{% block content %}

<p id="tagline">Swainsboro&rsquo;s place for electronics. Specializing in HD
TV service and repair, as well as digital HD antenna sales and
installation.</p>

<div class="info-group">
    <h2>CALL US</h2>
    <div class="info"><p>(478) 237-5176</p></div>
</div>

<div class="info-group">
    <h2>EMAIL US</h2>
    <div class="info" id="info-email">(enable JavaScript)</div>
</div>

<div class="info-group">
    <h2>OR STOP BY</h2>
    <div class="info">
        <p>306 North Main Street<br />
            Swainsboro, Georgia 30401</p>
        <p><a id="store-map-link" target="_new" href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=306+North+Main+Street+Swainsboro,+Georgia+30401&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=40.460237,59.150391&amp;ie=UTF8&amp;hq=&amp;hnear=306+N+Main+St,+Swainsboro,+Georgia+30401&amp;t=m&amp;z=14&amp;ll=32.599734,-82.335984">View map</a></p>
        <div id="store-map"></div>
    </div>
</div>

<div class="info-group">
    <h2>REPAIR STATUS</h2>
    <div class="info">
      {% include "tickets/search_form.html" %}
    </div>
</div>

<script type="text/javascript" src="/static/scripts/unobfuscate-email.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
unobfuscateEmailAt('info-email', 'rFna@krFnasklEcertnociGs.Aocm');
/* ]]> */
</script>
{% endblock %}
