<form action="{% url tickets.views.search %}" method="get">
<p>Enter a ticket number to check the status of your repair order.</p>
{{ form.as_p }}
<p><input type="submit" value="View Status" /></p>
</form>
