{% extends "tickets/base.html" %}

{% block content %}

<h1>Services</h1>

<p>Our service center consists of professional school-certified technicians.
We specialize in servicing and repair of high-definition projection big-screen
televisions, DLP projection televisions, LCD Projection televisions, and now
LCD, Plasma and LED flat-panel Televisions. Every unit gets a complete
professional disassembly, service and cleaning of all lenses and mirrors and
all cooling fans and wind tunnels for a longer lasting, clean, cooler, and
sharper picture. We also still service and repair DVD and VCR units and
install awesome HDTV antennas for a crisp, uncompressed high-definition
digital signal.</p>

<p>We are open from Monday through Friday 9AM to 5PM, and Saturday from 9AM
until noon. Please bring help for loading and unloading of TVs due to my
recent back condition. Thank you very much and I hope to see you soon.</p>

{% endblock %}
