{% extends "tickets/base.html" %}
{% block content %}
<h1>Repair Status</h1>
<div id="ticket-detail">
    <div id="ticket-number">
        <h3>Your ticket is</h3>
        <h2>#{{ ticket.number }}</h2>
    </div>

    <div class="ticket-field" id="ticket-make">
        <h2>Item make</h2>
        <p>{{ ticket.make }}&nbsp;</p>
    </div>

    <div class="ticket-field" id="ticket-model">
        <h2>Item model</h2>
        <p>{{ ticket.model }}&nbsp;</p>
    </div>

    <div class="ticket-field" id="ticket-status">
        <h2>Status</h2>
        <p>{{ ticket.get_status_display }}</p>
    </div>
    
    <div class="ticket-field" id="ticket-status-detail">
        <h2>Status detail</h2>
        <p>{{ ticket.status_detail }}&nbsp;</p>
    </div>
    
    <div class="ticket-field" id="ticket-notes">
        <h2>Notes</h2>
        <p>{{ ticket.notes }}</p>
    </div>
    
    <div class="ticket-row">

        <div class="ticket-field" id="ticket-estimate">
            <h2>Estimate amount</h2>
            <p>{{ ticket.estimate_display }}&nbsp;</p>
        </div>

        <div class="ticket-field" id="ticket-approved">
            <h2>Estimate approved?</h2>
            <p>{{ ticket.approved_display }}&nbsp;</p>
        </div>

    </div>

    <div class="ticket-row">

        <div class="ticket-field" id="ticket-estimate-date">
            <h2>Estimate completion date</h2>
            <p>{{ ticket.estimate_date_display }}&nbsp;</p>
        </div>

        <div class="ticket-field" id="ticket-approval-date">
            <h2>Estimate approval date</h2>
            <p>{{ ticket.approval_date_display }}&nbsp;</p>
        </div>

        <div class="ticket-field" id="ticket-completion-date">
            <h2>Repair completion date</h2>
            <p>{{ ticket.completion_date_display }}&nbsp;</p>
        </div>

    </div>

    {% if show_history %}
    <div class="ticket-field" id="ticket-history">
        <h2>Ticket history</h2>
        <ul>
        {% for status in ticket.statuslog_set.all %}
            <li>{{ status.timestamp }}: {{ status.get_status_display }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}
